<h1>Shorten It!</h1>
<p><%= flash[:success]%></p>
<p><%= flash[:message]%></p>
<p><%= flash[:error]%></p>

<div>
    <%= form_for(@url) do |f| %>
        
        <p><%= f.text_field(:long_url) %><p/>
        <p><%= f.submit "Do it!"%><p/>
    
    <% end %>
</div>